@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

body{
  background-color: mediumaquamarine;
}

#root{
  height: 100vh;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.content {
  width: 700px;
  padding: 30px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}

.input-area{
  width: 330px;
  height: 310px;
  background-color: aliceblue;
  border-radius: 12px;
}

.output-area{
  width: 330px;
  height: 310px;
  border-radius: 12px;
  background-color: antiquewhite;
  padding: 20px;
}

.bill-input span{
  display: block;
}

.bill-input input{
  width: 280px;
  height: 30px;
}

.percent-button{
  width: 80px;
  height: 40px;
}

.button-area span{
  display: block;
}