@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
  margin: 0;
  font-family: "Space Mono";
  font-weight: 700;
  color: #333;
  box-sizing: border-box;
}

body{
  background-color: mediumaquamarine;
}

#root{
  height: 100vh;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.content {
  width: 700px;
  padding: 30px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}

.input-area{
  width: 310px;
  height: 310px;
  background-color: aliceblue;
  border-radius: 12px;
  padding: 10px 20px;
}

.output-area{
  width: 310px;
  height: 310px;
  border-radius: 12px;
  background-color: antiquewhite;
  padding: 20px;

}

.bill-input span{
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
}

.bill-input input{
  width: 270px;
  height: 35px;
  border: none;
  border-radius: 5px;
  text-align: end;
  font-size: 17px;
  padding-right: 10px;
}

.button-area{
  width: 270px;
  height: 113px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
  align-content: space-between;
}

.button-area span{
  width: 250px;
  font-size: 12px;
}

.button-area button{
  width: 83px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: hsl(186, 14%, 43%);
  color: white;
  font-size: 17px;
  
}

.button-area input {
  width: 80px;
  height: 35px;
  border: none;
  border-radius: 5px;
  text-align: end;
  font-size: 16px;
  padding-right: 10px;
}

.input-people-num span{
  display: block;
  margin: 25px 0 10px 0;
  font-size: 12px;
}

.input-people-num input{
  width: 270px;
  height: 35px;
  border: none;
  border-radius: 5px;
  text-align: end;
  font-size: 17px;
  padding-right: 10px;
}

.output-bill output{
  font-size: 40px;
}

.output-tip output{
  font-size: 40px;
}